vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jun 2013 14:14:35 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|MCK9HQABOTA57C4\\Administrator
vti_modifiedby:SR|MCK9HQABOTA57C4\\Administrator
vti_timecreated:TR|20 Jun 2013 14:14:35 -0000
vti_cacheddtm:TX|20 Jun 2013 14:14:35 -0000
vti_filesize:IR|10414
vti_cachedlinkinfo:VX|S|../images/icon/site_icon.gif S|../images/so_btn.gif S|../images/icon/search-up-down.gif S|../images/ui_box.gif S|../images/close.gif S|../images/loading_o.gif S|../images/setting_color.gif S|../images/edit.gif
vti_cachedsvcrellinks:VX|FSUS|images/icon/site_icon.gif FSUS|images/so_btn.gif FSUS|images/icon/search-up-down.gif FSUS|images/ui_box.gif FSUS|images/close.gif FSUS|images/loading_o.gif FSUS|images/setting_color.gif FSUS|images/edit.gif
vti_backlinkinfo:VX|
