
a,.location-zone,.site-plus-box a{color:green;}
.toper,.search-box,.main_center,ul.cate-box li a.logo-a,.location-zone,.site-plus-box,.categories{
border-color: #ADD69D;
}
.search-tab ul li a.on,.location-zone,ul.cate-box li .site-plus-box a:HOVER {background-color: #ADD69D;}
/*-------more------*/
.site-list,.cate-box,.toper .logo{
 border-color: #ADD69D;
}
.categories h1{
border: 1px dashed #ADD69D;
border-width:1px 0 1px 0;
background: #E5FADD;
color:green;
} 